@charset "UTF-8";
/*リセット*/
body,h1,h2,h3,h4,h5,h6,div,p,ul {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
img{
    vertical-align: top;
}

/*共通*/
body{
    
}
.inner{
    max-width: 1200px;
    margin: 0 auto;
}
.wrap{
    display: flex;
}
h2{
    margin-bottom: 48px;
    font-size: 56px;
    color:#29292b;
    letter-spacing: 0.1em;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}
h3{
    font-size: 28px;
    margin-bottom: 40px;
}
section{
    padding: 112px 0;
}
section .wrap{
    justify-content: center;
}
.summary .caption{
    margin-bottom: 36px;
    font-size: 16px;
    color: #72685e;
    line-height: 1.8;
}
.menu .menu-title{
    margin-bottom: 26px;
    font-size: 20px;
    letter-spacing: 0.1em;
}
.menu table th{
    padding-top: 26px;
    width: 200px;
    text-align: left;
    vertical-align: bottom;
} 
.menu table tr:first-of-type th{
    padding-top: 0;
}
.menu table th .mini{
    font-size: .7em;

}
.menu table td{
    width: 125px;
    text-align: right;
    vertical-align: bottom;
    border-bottom: 2px solid #fff;
}
.contents-img{
    width: 348px;
}
.contents-img img{
    width: 100%;
}

/*ヘッダー*/
header .wrap{
    position: absolute;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}
header .inner{
    position: relative;
}
header nav ul{
    display: flex;
    color:#fff;
    font-size: 28px;
}
header nav ul li{
    margin-right: 40px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0.1em;
}
header nav ul li:last-of-type{
    margin-right: 0;
}

/*ヒーロー*/
.hero{
    position: relative;
}
.hero img{
    width: 100%;
}

.hero .catch-copy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: #fff;
}

/*コーヒー*/
.coffee{
    background-color: #eeedeb;
}
.coffee h2{
    padding-left: 30px;
    border-left: 4px solid #9b3929;
}
.coffee .summary{
    margin-right: 100px;
}

/*フード*/
.food h2{
    padding-right: 30px;
    border-right: 4px solid #9b3929;
    text-align: right;
}
.food .wrap{
    flex-direction: row-reverse;
}
.food .summary{
    margin-left: 100px;
}
.food .menu .table td{
    border-bottom: 2px solid #eeedeb;
}

/*アクセス*/
.acsess{
    background-color: #d7d2c9;
}
.acsess h2{
    text-align: center;
}
.acsess h2 span{
    padding: 0 30px;
    border-right: 4px solid #9b3929;
    border-left: 4px solid #9b3929;
}
.acsess address{
    margin-right: 100px;
    color: #fff;
    font-style: normal;
    font-size: 18px;
    line-height: 2em;
}

/*フッター*/
footer{
    padding:16px 0;
    background-color: #29292b;
    color:#fff;
    text-align: center;
}



@media screen and (max-width: 480px){
    header h1
    header nav ul{
        display: flex;
        color:#fff;
        font-size: 16px;
    }
    header nav ul li{
        margin-right: 20px;
        font-family: 'Kanit', sans-serif;
        letter-spacing: 0.1em;
    }
    /*ヒーロー*/
    .hero .catch-copy {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        color: #fff;
    }
    /*共通*/

    h2{
        margin-bottom: 30px;
        font-size: 22px;
        color:#29292b;
        letter-spacing: 0.1em;
        font-family: 'Kanit', sans-serif;
        font-weight: 400;
    }
    h3{
        font-size: 23px;
        margin-bottom: 30px;
    }
    section{
        padding: 60px 0;
    }
    .summary .caption{
        margin-bottom: 36px;
        font-size: 10px;
        color: #72685e;
        line-height: 1.8;
    }
    .menu .menu-title{
        margin-bottom: 26px;
        font-size: 18px;
        letter-spacing: 0.1em;
    }

    /*coffee*/
    .coffee .summary{
        margin-right: 50px;
    }
    
    /*food*/
    .food .summary{
        margin-left: 50px;
    }
    .acsess address{
        margin-right: 50px;
        color: #fff;
        font-style: normal;
        font-size: 10px;
        line-height: 2em;
    }
    /* 横幅を指定するための要素 */
.map-wrap {
    max-width: 50%; /* ここに横幅を指定 */
  }
  
  /* Google Mapを囲う要素 */
  .map {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75%; /* 比率を4:3に固定 */
  }
}
